.cardDiv{
    box-shadow: 0px 1px 8px hsla(0,0%,80%,.5);
    background-color: hsla(0,0%,99%,.5);
    width: 260px;
    height: 380px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardimg{
    width: 180px;
    height:180px;
    cursor: pointer;
}

.cardDiv span{
  color: #212121;
  line-height: 24px;
  cursor: pointer;
}

.cardDiv b{
    color:rgb(2, 155, 43);
    font-size: 20px;
}

.addcart{
    background-color:  rgb(2, 155, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 6px;
}

.addedcart{
    background-color:  rgb(86, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    cursor: none;
}

.cardimg2{
    width: 160px;
    height: 160px;
}
.cartlists{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartcardMain{
    display: flex;
    box-shadow: 0px 1px 8px hsla(0,0%,80%,.5);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    min-width: 380px;
}

.cartcrdrgt{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;

}

.cartcrdrgt span {
    color: #212121;
    font-size: 16px;
}

.cartcrdrgt .btmsecDiv b {
    color: rgb(2, 155, 43);
    font-size: 22px;
}

.cartcrdrgt .btmsecDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartcrdrgt .btmsecDiv .removebtn {
   background-color: brown;
   color: aliceblue;
   border: none;
   width: 80px;
   height: 30px;
   border-radius: 10px;
   cursor: pointer;
 }

.quantityDiv{
    display: flex;
    justify-content: right;
}

.quantityBtn{
    display: flex;
    align-items: center;
}

.quantityBtn button {
    background-color: #007a78;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.quantityBtn .disabled {
    background-color: rgb(110, 110, 110);
    cursor: not-allowed;
}